            /* MAIN */
            body {
                margin: 0;
                font-family: Arial, sans-serif;
                background-color: rgb(17, 14, 14);
            }
            button {
                padding: 10px 15px;
                font-size: 16px;
                cursor: pointer;
            }
            /* SIDEBAR */
            .sidebar {       
                display:flex;
                top: 0px;
                left: 0px;
                height: 800px;   
                width: 100px;
                background-color: rgb(56, 52, 52);
                display:inline;
                flex-direction: column;
                align-items: center;
                padding-top: 30px;
            }
            .sidebar img {
                width: 20px;
                height: 100px;
                object-fit: contain;
            }
            /* SEARCH PAGE */
            .topresults {
                 text-align:center;
                font-size: 15px;
                color: gray;
                margin-left: 100px;
            }
            .keyboard {
                text-align:center;
                font-size: 10px;
                color: gray;
                margin-left: 100px;
            }
            .search_cont {
                margin-left: 100px;
                margin-top: 50px;
            }
            .searchicon {
                width: 20px;
                height: 20px;
            }
            .img_row_1 {
                display: flex;
                gap: 10px;
                margin-left: 100px;
                margin-top: 20px;
            }
            .img_row_2 {
                display: flex;
                gap: 10px;
                margin-left: 100px;
                margin-top: 20px;
            }
            .search_body {
               display:inline-block;
            }

