   .practice {
                background-color: gold;
                color: black;
                font-family:Arial;
                font-size: 18pt;
                text-align: center;
            }